<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
    {{ partial "head-seo-v2.html" . }}
    <link rel="stylesheet" href="/css/seo-modern-design-v2.css">
  </head>
  <body class="bg-near-black near-white">
    <header>
      <h1><a href="/">{{ site.Title }} - GenAI News</a></h1>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <p>&copy; {{ now.Year }} {{ site.Title }}</p>
    </footer>
  </body>
</html>
