<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ .Site.BaseURL }}",
  "name": "{{ .Site.Title }}",
  "description": "{{ .Site.Params.description }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Params.author }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}{{ .Site.Params.site_logo }}"
    }
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title }}",
  "image": [
    "{{ .Site.BaseURL }}{{ .Site.Params.images }}"
   ],
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Organization",
    "name": "{{ .Site.Params.author }}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Params.author }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}{{ .Site.Params.site_logo }}"
    }
  },
  "description": "{{ .Summary }}"
}
</script>
