<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ site.Params.description }}{{ end }}">
<meta name="keywords" content="{{ delimit site.Params.keywords ", " }}">
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ site.Params.description }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if site.Params.seo.images }}
<meta property="og:image" content="{{ index site.Params.seo.images 0 | absURL }}">
{{ end }}
<meta name="twitter:card" content="{{ site.Params.seo.twitter_card }}">
<meta name="twitter:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ site.Params.description }}{{ end }}">
{{ if site.Params.seo.images }}
<meta name="twitter:image" content="{{ index site.Params.seo.images 0 | absURL }}">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
